/* 此段語法用來表示讓返回頁頂的動畫更滑順*/
html,
body {
	scroll-behavior: smooth;
}
/* 跑馬燈動畫設置 */
.marqee {
	height: 2em;
	margin:0 auto;
	overflow: hidden; 
	position: relative;
	background:rgb(101, 101, 101);
    z-index: -10;
    font-size: 20px;
}
.marqee > ul {
	padding-left: 0;
	display: flex;
	list-style-type: none;
	animation: marqee 30s linear infinite;
	position: absolute;
}
.marqee > ul > li {
	white-space: nowrap;
	margin-right: 2em;
	font-weight: bold;
	color: white;
    padding-top: 5px;
}
@keyframes marqee {
	0% {
		left: 100%;
		transform: translateX(0%);
	}

	100% {
		left: 0;
		transform: translateX(-100%);
	}
}
/* 背景圖片設置 */
.bg{
    position: fixed;
    z-index: -99;
    width: 100%;
    opacity: 0.35;
}
/* 文字顏色設置 */
body a{
    color: #333;
}
a{
    text-decoration: none;
}
/* 去除高度坍塌的問題 */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* /////////////////////////////////////////////////////////////////////////////// */
.header li{
    color: #999;
}
.header a{
    text-decoration: none;
    color: #999;
}
.header{
    background: #e3e4e5;
    height: 40px;
    line-height: 40px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
.header .topnav>li{
    float: left;
    width: 286px;
    text-align: center;
    margin: 0 1px;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
}
.header .topnav>li:hover{
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    line-height: 36px;
}
.header .topnav>li .submenu{
    text-align: left;
    line-height: 1.5em;
    width: 286px;
    display: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    right: -1px;
    background: #fff;
    /* box-shadow: 12px 18px 25px -5px #D2D4D8; */
}
.header .topnav>li:hover .submenu{
    display: block;
    padding: 10px;
}
.header .topnav>li:hover::after{
    content: "";
    position: absolute;
    width:100%;
    height: 5px;
    background: #fff;
    bottom: 0;
    left: 0;
}
.main{
    line-height: 1.5;
}
.main .nav{
    height: 60px;
    background: darkgray;
    color: #999;
    text-align: center;
    line-height: 60px;
    margin-top:40px;
}
.main .nav a{
    margin: 0 38px;
    text-decoration: none;
}
.main .nav a:hover{
    color: white;
}
.main .nav a.select{
    color: #ef4248;
}
.main .container{
    width: 1120px;
    margin:0 auto;
}
.main .container .choose-area{
    border:1px solid #e5e5e5;
    margin: 40px 0;
    font-size: 14px;
    line-height: 30px;
    padding: 0 30px;
    background: #fff;
}
.main .container .choose-area .choose-item{
    margin: 1em 0;
    border-bottom: 1px dotted #e5e5e5;
}
.main .container .choose-area .choose-item.no-line{
    border: none;
}
.main .container .choose-area .choose-item .left{
    float: left;
    color:#999
}
.main .container .choose-area .choose-item .right{
    float: left;
    width: 1050px;
}
.main .container .choose-area .choose-item .right li{
    float: left;
    margin: 0 9px;
    padding: 0 6px;
}
.main .container .choose-area .choose-item .right li a:hover{
    color: #ef4248;
}
.main .container .choose-area .choose-item .right li.select a{
    background: coral;
    color: #fff;
    border-radius: 17px;
    padding: 6px;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
.main .container .movies .movie-item{
    float: left;
    width: 160px;
    margin: 10px 32px 10px 0;
}
.main .container .movies .movie-item:nth-child(6n){
    margin-right: 0;
}
.main .container .movies .movie-item .poster img{
    width: 160px;
    height: 220px;
}
.main .container .movies .movie-item .name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
    text-align: center;
}
.main .container .movies .movie-item .score{
    color: #ffb400;
    text-align: center;
    line-height: 2.5;
    font-style: italic;
}
.main .container .movies .movie-item .score::first-letter{
    font-size: 1.5em;
}
/* 多頁面的通用樣式 */

.pager{
    margin: 2em 0;
    text-align: center;
}
.pager a{
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    margin: 0 3px;
    background: #fff;
}
.pager a:hover{
    background:coral;
    color: white;
    /* border-color: #ef4238; */
}
.pager a.select{
    background: coral;
    color: white;
    border: 1px solid #d8d8d8;
    font-weight: bold;
}
/* 返回最上方按鍵設置*/
#btnTop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 60px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkgray;
    color: white;
    cursor: pointer;
    padding: 3px 3px 3px 3px;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    font-size: 1px;
}
#btnTop:hover {
    color:rgb(147, 203, 217);
    background-color: lightgray;
}

 /* Equal to rotateZ(xdeg) */
.top {
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    opacity: 0.6;
} 
.footer{
    position: relative;
    top: 0px;
    height: 50px;
    padding: 5px 100px;
    background:#333;
    color: white;
    text-align: center;
}
/* 頁腳響應式外觀設置 */
@media screen and (max-width:500px){ 
    .footer{
      width: auto;
      height: 100px;
      font-size: 16px;
      padding: 5px 10px;
    }
}